<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <servlet-name>ContasServlet</servlet-name>
        <servlet-class>conta.controller.ContasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferenciaServlet</servlet-name>
        <servlet-class>movimentacao.controller.MovimentacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContasServlet</servlet-name>
        <url-pattern>/ContasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferenciaServlet</servlet-name>
        <url-pattern>/TransferenciaServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>app.name</param-name>
        <param-value>Finance Control</param-value>
    </context-param>
    <context-param>
        <param-name>app.version</param-name>
        <param-value>1.0.0</param-value>
    </context-param>
</web-app>
